<div class="ng-dialog">

    <h2>Add Person Table Header</h2>

    <ul id="peopleWithoutTable">
        <li id="personWithoutTable">
            Person x: Dropdown free tables 
            <button>add</button>
        </li>
        <li id="personWithoutTable">
            Person x: Dropdown free tables 
            <button>add</button>
        </li>
        <li id="personWithoutTable">
            Person x: Dropdown free tables 
            <button>add</button>
        </li>
    </ul>
        

</div>