<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="../../dependencies/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../dependencies/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Order to Deliver Header</h1>

    </header>

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <ul id="ordersOrdered">
                    <li id="orderOrdered">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Receive</button>
                        <button>Deny</button>
                    </li>
                    <br/>
                    <li id="orderOrdered">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Receive</button>
                        <button>Deny</button>
                    </li>
                    <br/>
                    <li id="orderOrdered">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Receive</button>
                        <button>Deny</button>
                    </li>
                    <br/>
                </ul>
            </div>

            <div class="col-md-6">
                <ul id="ordersReady">
                    <li id="orderReady">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Finish order</button>
                        <button>Error</button>
                    </li>
                    <br/>
                    <li id="orderReady">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Finish order</button>
                        <button>Error</button>
                    </li>
                    <br/>
                    <li id="orderReady">
                        Person x ; Table 5<br/> Item x, additionals, Price<br/> description
                        <br> Comment
                        <br/>
                        <button>Finish order</button>
                        <button>Error</button>
                    </li>
                    <br/>
                </ul>

            </div>
        </div>
    </div>

</body>

</html>