<div class="ng-dialog" id="personcheck">

    <h3>Person Name .................. Open: $100,00 / Ordered: $200,00</h3>
    <ul id="openItens">
        <h3>Open Itens</h3>
        <li id="openItem">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
        <li id="openItem">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
        <li id="openItem">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
    </ul>

    <ul id="itensProcessing">
        <h3>Itens Processing</h3>
        <li id="itemProcessing">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
        <li id="itemProcessing">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
        <li id="itemProcessing">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
            Remove
        </li>
    </ul>

    <ul id="itensDelivered">
        <h3>Itens Delivered</h3>
        <li id="itemDelivered">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
        </li>
        <li id="itemDelivered">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
        </li>
        <li id="itemDelivered">
            Item x, additionals, Price<br/>
            description<br>
            Comment<br/>
        </li>
    </ul>

    Total: $300,00

    <button>Finish Check</button>

</div>