<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <header>
            <h1>Table Management Header</h1>

        </header>

        <div class="container">
            <ul id="tables">
                <li id="table">
                    Table Number(4 seats); Status: Busy, 1 seat available; add person(also waiter)<br/>
                    Started at: 12:00<br/>
                    <ul id="peopleInTable">
                        <li id="personIntable1">
                            Person Name, remove, see check
                        </li>
                        <li id="personIntable1">
                            Person Name, remove, see check
                        </li>
                        <li id="personIntable1">
                            Person Name, remove, see check
                        </li>
                    </ul>
                    Waiter Name<br/>
                    <button>Finish Table</button>
                </li>
                <br/>

                <li id="table">
                    Table Number(4 seats); Status: Free; add person(also waiter)<br/>
                    <ul id="peopleInTable">
                  
                    </ul>
                    Waiter Name<br/>
                    <button>Finish Table</button>
                </li>
                <br/>

                <li id="table">
                    Table Number(2 seats); Status: Busy; add person(also waiter)<br/>
                    Started at: 12:00<br/>
                    <ul id="peopleInTable">
                        <li id="personIntable1">
                            Person Name, remove, see check
                        </li>
                        <li id="personIntable1">
                            Person Name, remove, see check
                        </li>
                    </ul>
                    Waiter Name<br/>
                    <button>Finish Table</button>
                </li>
                <br/>
            </ul>

    </body>

</html>
