<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="styles/bootstrap-social.css" rel="stylesheet">

    <link href="../../dependencies/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../dependencies/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../dependencies/bootstrap/dist/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../dependencies/font-awesome/css/font-awesome.min.css" rel="stylesheet">



</head>

<body>

    <div class="container" ng-controller="manageItemController">

        <h2>Manage Itens Header</h2>


        <button ng-click="createItem()">Create Item</button>
        <button ng-click="test()">Test</button>

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Edit/Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itens">
                    <th scope="row">x</th>
                    <td>{{item.image}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.categorytype}}</td>
                    <td>{{item.price.toFixed(2) | currency}}</td>
                    <td>
                        <button ng-click="editItem(item)">Edit</button>
                        <button ng-click="removeItem(item._id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--
    <tbody>
        <tr ng-repeat="roll in sushi">
        <td>{{ roll.name }}</td>
        <td>{{ roll.fish }}</td>
        <td>{{ roll.tastiness }}</td>
        </tr>
    </tbody>
    -->



</body>

</html>